.header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100vw;
  height: 100px;
  background: #9ed8ff;
  z-index: 200;
  overflow: hidden;
}

.header-container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  max-width: 1580px;
  margin: 0 auto;
  padding: 0 40px;
}

.header-text {
  text-align: center;
  width: auto;
  height: auto;
  font-size: 22px;
  margin: 0 auto;
}

@media screen and (min-width: 0px) and (max-width: 779px) {
  .header {
    display: none;
  }
}
